<% if (title) { %>
<h1><%=title%></h1>
<%
} else {
    res.redirect('/')
} %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %> <%#eat the errors variable as an array and loop through the array, with each individual error being sent into a callback function.#%>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-wrapper"> 
    <div class="form-container">
        <p>Confirm Deletion - <strong>The delete is permanent.</strong></p>
        <form id ="deleteForm"class="form-grid" action="/inv/delete/<%= inv_id %>" method="POST">
            <label for="invmake">Make</label>
            <input type="text" id="invmake" name="inv_make" minlength="3" placeholder="Min of 3 characters" pattern="^[A-Za-z]+$" readonly value="<%= locals.inv_make %>">
            
            <label for="invmodel">Model</label>
            <input type="text" id="invmodel" name="inv_model" minlength="3" placeholder="Min of 3 characters" readonly value="<%= locals.inv_model %>">

            <label for="invyear">Year</label>
            <input type="number" id="invyear" name="inv_year" min="1500" max="9999" placeholder="4 Digits Year" readonly value="<%= locals.inv_year %>">

            <label for="invprice">Price</label>
            <input type="number" id="invprice" name="inv_price" placeholder="Digits Only" readonly value="<%= locals.inv_price %>">

            <input class="form-button" type="submit" name="submit" value="Delete Vehicle">

            <input type="hidden" name="inv_id"
                <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                <% } %>> <!--Add the inventory ID that was retrieved from the data base but not included in the page-->
        </form>
    </div>
</div>
