<% if (title) { %>
<h1><%=title%></h1>
<%
} else {
    res.redirect('/')
} %>

<% if (notice && notice.length > 0) { %>
  <div class="flash-message"><%= notice[0] %></div>
<% } %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %> <%#eat the errors variable as an array and loop through the array, with each individual error being sent into a callback function.#%>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<ul class="add-list">
    <li><a href="/inv/add-classification">Add a new Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Car to Inventory</a></li>
</ul>
<div class="manage-inventory">
    <h2>Manage Inventory</h2>
    <p class="modify-instruction">Select a classification to see the inventory for each classification</p>
    <%- classificationSelect %> <%# EJS code block to display the classificationList%>
    <table id="inventoryDisplay"></table> <!--Inventory returned from the controller will be inserted here using JS-->

    <noscript>JavaScript must be enable to use this page</noscript> <!--Message to be displayed if JS is not enabled-->

</div>

<script src="../../js/inventory.js"></script>